.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7vh; 
  padding: 5vh 2vw;
}

.footer-left {
  display: flex;
  align-items: center;
  width: 30%;
  position: relative;
  z-index: 1;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}

.song-cover {
  width: 7vh;
  height: 7vh;
  border-radius: 5px;
  margin-right: 10px;
}

.song-info-play{
  padding: 1.5vh;
}

.song-info-play .song-title-play {
  font-size: 1.8vh;
  font-weight: bold;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 200px;
  color: var(--color-text-primary);
}

.song-info-play .song-artist-play {
  font-size: 1.6vh;
  color: var(--color-text-secondary);
}

.footer-center { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2; 
  padding: 1vh 2vh; 
}

.footer-control {
  margin-bottom: 10px;
}

.control-btn {
  background: none;
  border: none;
  color: var(--color-text-accent);
  font-size: 3.2vh;
  margin: 0 1vh;
  cursor: pointer;
}

.control-btn:hover {
  color: var(--color-primary);
}

.progress-bar {
  display: flex;
  align-items: center;
}

.current-time,
.total-time {
  font-size: 1.4vh;
  margin: 0 0.5vh;
}

/* Slider for progress bar */
.progress-slider {
  width: 25vw;
  height: 0.75vh;
  background-color: var(--color-accent); 
  border-radius: 5px;
  -webkit-appearance: none; 
  appearance: none;
}

.progress-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6vh;
  height: 1.6vh;
  background-color: var(--color-primary); 
  border-radius: 50%;
  cursor: pointer;
}

.progress-slider::-moz-range-thumb {
  width: 1.6vh;
  height: 1.6vh;
  background-color: var(--color-primary); 
  border-radius: 50%;
  cursor: pointer;
}

.progress-slider::-ms-thumb {
  width: 1.6vh;
  height: 1.6vh;
  background-color: var(--color-primary); 
  border-radius: 50%;
  cursor: pointer;
}

/* Slider for volume control */
.volume-slider {
  width: 7vw;
  height: 0.75vh;
  background-color: var(--color-accent); 
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.6vh;
  height: 1.6vh;
  background-color: var(--color-primary); 
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 1.6vh;
  height: 1.6vh;
  background-color: var(--color-primary); 
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-ms-thumb {
  width: 1.6vh;
  height: 16px;
  background-color: var(--color-primary); 
  border-radius: 50%;
  cursor: pointer;
}
