:root {
  --color-primary: #FEAE06; 
  --color-secondary: #C39B47; 
  --color-accent: #5A5956;
  --color-fouth: #000000;
  --color-fifth: #ffffff;
  --color-sixth: #FF6F6C;
  --color-seventh: #7dff6c;
  --color-eighth: #3936eb;
  --color-hover-primary: rgba(254, 174, 6, 0.5); 
  --color-hover-secondary: rgba(90, 89, 86, 0.3);
  --color-hover-accent: rgba(255, 255, 255, 0.3);
  --color-error: #e22222; 
  --color-background-primary: #000000;
  --color-background-secondary: #2C2923;
  --color-background-accent: rgba(90, 89, 86, 0.2);
  --color-background-fouth: rgba(255, 255, 255, 0.2);
  --color-background-fifth: #161512; 
  --color-placeholder: #282828; 
  --color-text-primary: #ffffff; 
  --color-text-secondary: #888888;
  --color-text-accent: #FFD783; 
  --color-border: #888888; 
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  overflow: hidden;
}

.app-container {
  display: flex;
  flex: 1; 
  background-color: var(--color-background-primary);
  width: 100%;
}

.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  background-color: var(--color-background-secondary);
  border-radius: 20px;
  box-sizing: border-box;
}

header {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  z-index: 1000;
}

footer {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  z-index: 1000;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-hover-primary);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
