.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7.5vh;
  padding: 1vh 2vw;
}

.auth-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.auth-buttons .ant-btn {
  background-color: transparent;
  border:none;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-btn-icon .anticon svg{
  font-size: 2.8vh;
  color: var(--color-accent) !important;
}

.ant-btn-icon .anticon svg:hover{
  font-size: 2.8vh;
  color: var(--color-primary) !important;
}

.auth-buttons .ant-btn:hover{
  background-color: var(--color-hover-accent) !important;
}

/* Menu */
.ant-dropdown-menu, .ant-dropdown-menu-item{
  background-color: var(--color-secondary) !important;
}

.ant-dropdown-menu-item a:hover,
.ant-dropdown-menu-item button:hover{
  color: #ffffff !important;
  text-decoration: none;
}

.ant-dropdown-menu-title-content {
  font-size: 16px;
  color: var(--color-fouth)
}

.ant-dropdown-menu-title-content:hover {
  font-size: 16px;
  color: var(--color-text-primary)
}

.logout-btn {
  border: none;
  font-size: 16px;
  background-color: transparent;
  color: var(--color-error);
}

/* Login and Sign Up */
.signup-btn {
    border: none;
    font-size: 16px;
    background-color: transparent;
}

.login-btn {
  border: none;
  font-size: 16px;
  background-color: transparent;
}

/* search box */
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30vw;
  margin-left: 60px;
}

.logo{
  display: flex;
  align-items: center;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background-color: transparent;
  padding-left: 1.2vh;
  margin-left: 2vh;
  margin-right: 2vh;
  transition: background-color 0.2s ease;
}

.header-logo{
  display: flex;
  align-items: center;
  width: 6vh;
  height: 6vh;
  padding-left: 1.2vh;
  margin-left: 2vh;
  margin-right: 2vh;
}

.logo-image{
  position: absolute;
  left: 2.9%;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
}

.logo:hover{
  background-color: rgba(145, 145, 145, 0.5) !important;
}

.search-icon {
  font-size: 2.8vh;
  margin-right: 10px;
}

.home-icon {
  font-size: 2.8vh;
  margin-right: 12px;
}

.logo .anticon svg{
  color: var(--color-accent) !important; 
}

.logo .anticon svg:hover{
  color: var(--color-primary) !important; 
}

.search-input {
  max-width: 600px;
  padding: 1.1vh 1.1vw;
  border: 1px solid var(--color-border);
  background-color: #1f1f1f;
  color: var(--color-text-primary);
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  transition: border 0.3s ease;
  box-sizing: border-box;
}

.search-input:hover {
  border: 1px solid var(--color-primary); 
}

.export-icon{
  margin-left: 5px;
  font-size: 10px;
}

.avatar-image{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  object-position: 50% 35%;
}